---
import Layout from '@layouts/Layout.astro';
import CertificateCard from '@components/CertificateCard.astro';
import certificate from '@content/certificate.json';

const certificateData = certificate.certificate;
---

<Layout title='Competition'>
  <div class='font-jamjuri'>
    <div class='flex justify-center text-4xl py-20 font-medium'>
      Certificate
    </div>
    <div class='flex justify-center mx-auto container mb-32 px-10'>
      <div class='grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-16'>
        {
          certificateData.map((certificate) => (
            <CertificateCard
              key={certificate.name}
              name={certificate.name}
              position={certificate.position}
              image={certificate.image}
            />
          ))
        }
      </div>
    </div>
  </div>
</Layout>
