<div class='relative bg-white overflow-hidden mt-16'>
  <div class='max-w-7xl mx-auto'>
    <div
      class='relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32'
    >
      <svg
        class='hidden lg:block absolute right-0 inset-y-0 h-full w-32 text-white transform translate-x-1/2'
        fill='currentColor'
        viewBox='0 0 100 100'
        preserveAspectRatio='none'
        aria-hidden='true'
      >
        <polygon points='50,0 100,0 50,100 0,100'></polygon>
      </svg>

      <div class='pt-1'></div>

      <main
        class='mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28'
      >
        <div class='sm:text-center lg:text-left'>
          <div class='pb-6 flex flex-col gap-4 container mx-auto'>
            <p class='text-sm text-designColor tracking-[4px] uppercase'>
              Profile
            </p>
            <h2 class='text-3xl md:text-4xl font-bold'>About Me</h2>
          </div>
          <p>
            I am a dedicated and passionate computer engineering student
            enrolled at King Mongkut's Institute of Technology Ladkrabang
            (KMITL), currently in the CE 61 program. Alongside my academic
            pursuits, I hold the esteemed position of secretary at the SAIG
            Laboratory, where I actively contribute to and engage in
            cutting-edge research and projects within the realm of computer
            engineering. My fervor for technology extends specifically to web
            development, where I find both challenge and inspiration. I am
            driven by a relentless curiosity to explore the intricacies of
            creating seamless and innovative web experiences. Through my
            academic journey and involvement in the SAIG Laboratory.
          </p>
        </div>
      </main>
    </div>
  </div>
  <div class='lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2'>
    <img
      class='h-56 w-full object-cover object-top sm:h-72 md:h-96 lg:h-full'
      src='/profile.jpeg'
      alt='profile'
    />
  </div>
</div>
