---
const { name, image, category } = Astro.props;
---

<div class='overflow-x-hidden'>
  <div class='flex items-start rounded-xl bg-white p-4 shadow-lg'>
    <div
      class='flex h-12 w-12 items-center justify-center rounded-full border border-purple-100 bg-purple-50'
    >
      <img src={image} class='w-6 h-6' />
    </div>
    <div class='ml-4'>
      <h2 class='font-semibold'>{name}</h2>
      <p class='mt-2 text-sm text-gray-500'>{category}</p>
    </div>
  </div>
</div>
